@font-face {
  font-family: 'Montserrat', sans-serif;
  font-family: 'Ubuntu', sans-serif;
  src: url("fonts/Montserrat-Medium.ttf") format("ttf");
  src: url("fonts/Ubuntu-Regular.ttf") format("ttf");
}
 
/* box sizing */
 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
/* body */
  body {
    width: 100%;
    max-width: 1400px;
    min-height: 100vh;
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
    margin: auto;
    line-height: 1.5;
    background-color: rgb(30, 0, 41);
    overflow: hidden;
  }





  .box {
    position: absolute;
    width: 824px;
    margin: 200px 288px;
    height: 340px;
    background-color: #ffffff;
    border-radius: 21px;
    filter: drop-shadow(0px 11px 13px rgba(0, 0, 0, 0.685));
  }


  .hat{
    width: 2960px;
    height: 475px;
    margin: -495px -769px;
  }
  .hat img{
    z-index: 1;
  }


  .avatar{
    display: flex;
    max-height: 60%;
  }
  .avatar img{
    border-radius: 100%;
    width: 212px;
    height: 212px;
    margin: 140px 595px;
    filter: drop-shadow(0px 0px 12px rgba(0, 0, 0, 0.404));
    z-index: 1;
  }


  .header_text{
    position: absolute;
    color: #000000;
    margin: 376px 650px;
    font-size: 42px;
    text-transform: capitalize;
    font-weight: 300;
    font-family: 'Montserrat';
  }
  .sub_text{
    width: 225px;
    height: 30px;
    position: absolute;
    color: #000000;
    margin: 430px 588px;
    font-size: 15px;
    font-family: 'Ubuntu';
  }
  .sub_text2{
    width: 369px;
    height: 30px;
    position: absolute;
    color: #000000;
    margin: 450px 520px;
    font-size: 15px;
    font-family: 'Ubuntu';
  }
  .sub_text3{
    width: 369px;
    height: 30px;
    position: absolute;
    color: #000000;
    margin: 470px 545px;
    font-size: 15px;
    font-family: 'Ubuntu';
  }
  


  .button_insta{
    position: absolute;
    width: 32px;
    margin: 510px 600px;
    height: 32px;
    background-color: #161616;
    border-radius: 50px;
    filter: drop-shadow(2px 1px 1px rgba(0, 0, 0, 0.281));
    transform: scale(1.005);
    }
  .button_insta:hover{
    background-color: rgb(43, 43, 43);
  }
  .button_insta img{
    width: 18px;
    height: 18px;
    margin: 7px 7px;
  }
  .button_spoti{
    position: absolute;
    width: 32px;
    margin: 510px 650px;
    height: 32px;
    background-color: #161616;
    border-radius: 50px;
    filter: drop-shadow(2px 1px 1px rgba(0, 0, 0, 0.281));
  }
  .button_spoti:hover{
    background-color: rgb(43, 43, 43);
  }
  .button_spoti img{
    width: 18px;
    height: 18px;
    margin: 7px 7px;
  }
  .button_steam{
    position: absolute;
    width: 32px;
    margin: 510px 700px;
    height: 32px;
    background-color: #161616;
    border-radius: 50px;
    filter: drop-shadow(2px 1px 1px rgba(0, 0, 0, 0.281));
  }
  .button_steam:hover{
    background-color: rgb(43, 43, 43);
  }
  .button_steam img{
    width: 18px;
    height: 18px;
    margin: 7px 7px;
  }
  .button_twitch{
    position: absolute;
    width: 32px;
    margin: 510px 750px;
    height: 32px;
    background-color: #161616;
    border-radius: 50px;
    filter: drop-shadow(2px 1px 1px rgba(0, 0, 0, 0.281));
  }
  .button_twitch:hover{
    background-color: rgb(43, 43, 43);
  }
  .button_twitch img{
    width: 18px;
    height: 18px;
    margin: 7px 7px;
  }
  .button_git{
    position: absolute;
    width: 56px;
    margin: 502px 1050px;
    height: 56px;
    background-color: #111111;
    border-radius: 20px;
    filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.281));
  }
  .button_git:hover{
    background-color: rgb(43, 43, 43);
  }
  .button_git img{
    width: 36px;
    height: 36px;
    margin: 9px 10px;
  }


  

  .project_box{
    position: absolute;
    width: 421px;
    margin: 515px 20px;
    height: 321px;
    background-color: #f3f3f3;
    border-radius: 15px;
    filter: drop-shadow(0px 11px 13px rgba(0, 0, 0, 0.685));
  }


  .project_frame{
    position: absolute;
    width: 421px;
    margin: 515px 20px;
    height: 42px;
    background-color: #949494;
    border-radius: 15px 15px 0 0;
  }
  .frame_button_pr{
    width: 21px;
    height: 21px;
    margin: 10px 5px;
    background-color: #ff2424;
    border-radius: 100px;
  }
  .frame_button_pr:hover{
    background-color: #dd0000;
  }
  .frame_button_pr2{
    width: 21px;
    height: 21px;
    margin: 10px 30px;
    background-color: #ffd359;
    border-radius: 100px;
  }
  .frame_button_pr2:hover{
    background-color: #ffc219;
  }
  .frame_button_pr3{
    width: 21px;
    height: 21px;
    margin: 10px 30px;
    background-color: #00e60bf1;
    border-radius: 100px;
  }
  .frame_button_pr3:hover{
    background-color: #67c200f1;
  }
  .project_text{
    width: 369px;
    height: 30px;
    position: absolute;
    color: #000000;
    margin: 0px 122px;
    font-size: 15px;
    font-family: 'Montserrat';
  }
  .project_icon{
    width: 20px;
    height: 20px;
    margin: 0px 101px;
  }
  
  .alphamap img{
    width: 56px;
    height: 56px;
    margin: 6px 156px;
    filter: drop-shadow(0px 4px 12px rgba(0, 0, 0, 0.445));
  }
  .alphamap_text{
    width: 280px;
    height: 20px;
    font-size: 16px;
    margin: 2px 57px;
    font-family: 'Ubuntu';
  }
  .alphamap_text2{
    width: 320px;
    height: 20px;
    font-size: 16px;
    margin: 43px 42px;
    font-family: 'Ubuntu';
  }

  


      