@font-face {
    font-family: 'Montserrat', sans-serif;
    font-family: 'Ubuntu', sans-serif;
    src: url("fonts/Montserrat-Medium.ttf") format("ttf");
    src: url("fonts/Ubuntu-Regular.ttf") format("ttf");
  }

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    max-width: 1400px;
    display: block;
    margin: auto;
    min-height: 100vh;
    overflow-y: hidden;
    overflow-x: hidden;
    background-image: url('img/background/flower-blur.png');
    background-color: rgb(32, 32, 32);
    font-family: 'Montserrat';
    font-family: 'Ubuntu' sans-serif;
}







.own-page{
    width: 100%;
    height: 100vh;
    padding: 0 150px;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    opacity: 0;
    font-family: 'Montserrat';
    font-family: 'Ubuntu', sans-serif;
}
.profile-heading{
    position: absolute;
    color: #fff;
    top: -160px;
    left: 640px;
    font-size: 50px;
    text-transform: capitalize;
    font-weight: 300;
    filter: drop-shadow(0 10px 10px rgba(0, 0, 0, 0.342));
    animation: Finy 2.3s forwards;
    font-family: 'Montserrat';
}
 .avatar{
  position: absolute;
  top: -170px;
  left: 610px;
  display: flex;
  max-height: 80%;
  transition: 0.3s;
  filter: drop-shadow(0 0px 10px rgba(0, 0, 0, 0.74));
  animation: avatar 2s forwards;
 }







.frame{
  width: 1380px;
  height: 680px;
  position: absolute;
  top: 270px;
  left: 25px;
  display: flex;
  align-items: center;
  filter: drop-shadow(0 -20px 50px rgba(0, 0, 0, 0.726));
  transition: 0.3s;
  animation: frame 1s forwards;
}
.insta-frame{
  position: absolute;
  top: 293px;
  left: 515px;
  animation: frame 1s forwards;
}
.spotify-frame{
  position: absolute;
  top: 293px;
  left: 725px;
  animation: frame 1s forwards;
}


.steam-frame{
  position: absolute;
  top: 293px;
  left: 935px;
  animation: frame 1s forwards;
}
.insta{
  width: 21px;
  height: 21px;
  position: absolute;
  top: 298px;
  left: 530px;
  filter: drop-shadow(0 4px 10px rgba(0, 0, 0, 0.726));
  animation: frame 1s forwards;
}
.spotify{
  width: 21px;
  height: 21px;
  position: absolute;
  top: 298px;
  left: 740px;
  filter: drop-shadow(0 4px 10px rgba(0, 0, 0, 0.726));
  animation: frame 1s forwards;
}
.steam{
  width: 21px;
  height: 21px;
  position: absolute;
  top: 298px;
  left: 949px;
  filter: drop-shadow(0 4px 10px rgba(0, 0, 0, 0.726));
  animation: frame 1s forwards;
}


.insta-frame-text{
  position: absolute;
  color: #fff;
  top: 297px;
  left: 580px;
  font-size: 18px;
  text-transform: capitalize;
  font-weight: 300;
  filter: drop-shadow(0 4px 10px rgba(0, 0, 0, 0.726));
  animation: frame 1s forwards;
  font-family: 'Montserrat', sans-serif;
}
.spotify-frame-text{
  position: absolute;
  color: #fff;
  top: 297px;
  left: 802px;
  font-size: 18px;
  text-transform: capitalize;
  font-weight: 300;
  filter: drop-shadow(0 4px 10px rgba(0, 0, 0, 0.726));
  animation: frame 1s forwards;
  font-family: 'Montserrat', sans-serif;
}
.steam-frame-text{
  position: absolute;
  color: #fff;
  top: 297px;
  left: 1010px;
  font-size: 18px;
  text-transform: capitalize;
  font-weight: 300;
  filter: drop-shadow(0 4px 10px rgba(0, 0, 0, 0.726));
  animation: frame 1s forwards;
  font-family: 'Montserrat', sans-serif;
}


.frame-text{
  width: 3ch;
  color: #fff;
  font-family: 'Ubuntu' sans-serif;
  overflow: hidden;
  border-right: 3px solid #00a2ff;
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: .17em;
  position: absolute;
  font-size: 20px;
  top: 405px;
  left: 80px;
  animation: as 1s forwards,
  typing 2s steps(12, end),
  blink-caret 0.75s ease infinite;
}
.frame-texts{
  width: 68ch;
  color: #fff;
  font-family: 'Ubuntu' sans-serif;
  overflow: hidden;
  border-right: 3px solid #00a2ff;
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: .17em;
  position: absolute;
  font-size: 20px;
  top: 435px;
  left: 80px;
  animation: as 1s forwards,
  typing 3s steps(70, end),
  blink-caret 0.75s ease infinite;
}
.frame-texts2{
  width: 62ch;
  color: #fff;
  font-family: 'Ubuntu' sans-serif;
  overflow: hidden;
  border-right: 3px solid #00a2ff;
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: .17em;
  position: absolute;
  font-size: 20px;
  top: 470px;
  left: 80px;
  animation: as 1s forwards,
  typing 3s steps(70, end),
  blink-caret 0.75s ease infinite;
}
.frame-texts3{
  width: 106ch;
  color: #fff;
  font-family: 'Ubuntu' sans-serif;
  overflow: hidden;
  border-right: 3px solid #00a2ff;
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: .17em;
  position: absolute;
  font-size: 20px;
  top: 505px;
  left: 80px;
  animation: as 1s forwards,
  typing 3s steps(106, end),
  blink-caret 0.75s ease infinite;
}
.frame-texts4{
  width: 93ch;
  color: #fff;
  font-family: 'Ubuntu' sans-serif;
  overflow: hidden;
  border-right: 3px solid #00a2ff;
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: .17em;
  position: absolute;
  font-size: 20px;
  top: 542px;
  left: 80px;
  animation: as 1s forwards,
  typing 3s steps(93, end),
  blink-caret 0.75s ease infinite;
}

.space{
  width: 100ch;
  color: #fff;
  font-family: 'Ubuntu' sans-serif;
  overflow: hidden;
  border-right: 3px solid #00a2ff;
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: .17em;
  position: absolute;
  font-size: 20px;
  top: 620px;
  left: 80px;
  animation: as 1s forwards,
  typing 3s steps(100, end),
  blink-caret 0.75s ease infinite;
}

.frame-text-eng{
  width: 3ch;
  color: #fff;
  font-family: 'Ubuntu' sans-serif;
  overflow: hidden;
  border-right: 3px solid #00a2ff;
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: .17em;
  position: absolute;
  font-size: 20px;
  top: 648px;
  left: 80px;
  animation: as 1s forwards,
  typing 2s steps(2, end),
  blink-caret 0.75s ease infinite;
}
.frame-texts-eng{
  width: 68ch;
  color: #fff;
  font-family: 'Ubuntu' sans-serif;
  overflow: hidden;
  border-right: 3px solid #00a2ff;
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: .17em;
  position: absolute;
  font-size: 20px;
  top: 680px;
  left: 80px;
  animation: as 1s forwards,
  typing 3s steps(70, end),
  blink-caret 0.75s ease infinite;
}
.frame-texts2-eng{
  width: 51ch;
  color: #fff;
  font-family: 'Ubuntu' sans-serif;
  overflow: hidden;
  border-right: 3px solid #00a2ff;
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: .17em;
  position: absolute;
  font-size: 20px;
  top: 720px;
  left: 80px;
  animation: as 1s forwards,
  typing 3s steps(70, end),
  blink-caret 0.75s ease infinite;
}
.frame-texts3-eng{
  width: 74ch;
  color: #fff;
  font-family: 'Ubuntu' sans-serif;
  overflow: hidden;
  border-right: 3px solid #00a2ff;
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: .17em;
  position: absolute;
  font-size: 20px;
  top: 760px;
  left: 80px;
  animation: as 1s forwards,
  typing 3s steps(106, end),
  blink-caret 0.75s ease infinite;
}
.frame-texts4-eng{
  width: 72ch;
  color: #fff;
  font-family: 'Ubuntu' sans-serif;
  overflow: hidden;
  border-right: 3px solid #00a2ff;
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: .17em;
  position: absolute;
  font-size: 20px;
  top: 798px;
  left: 80px;
  animation: as 1s forwards,
  typing 3s steps(93, end),
  blink-caret 0.75s ease infinite;
}
.frame-img{
  width: 100px;
  height: 1000px;
  position: absolute;
  top: -10px;
  right: 0px;
  display: flex;
  align-items: center;
  transition: 0.3s;
}
.css{
  width: 72px;
  height: 72px;
  position: absolute;
  top: 800px;
  right: 10px;
  animation: animka 1s forwards;
}
.html-img{
  width: 72px;
  height: 72px;
  position: absolute;
  top: 700px;
  right: 10px;
  animation: animka 1s forwards;
}
.js-img{
  width: 72px;
  height: 72px;
  position: absolute;
  top: 600px;
  right: 10px;
  animation: animka 1s forwards;
}
.py-img{
  width: 72px;
  height: 72px;
  position: absolute;
  top: 500px;
  right: 10px;
  animation: animka 1s forwards;
}
.osint-img{
  width: 72px;
  height: 72px;
  position: absolute;
  top: 400px;
  right: 10px;
  animation: animka 1s forwards;
}


.own-page.active{
  position: relative;
  opacity: 1;
  z-index: 8;
}


@keyframes Finy {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(36vh);
  }
}
@keyframes avatar {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(24vh);
  }
}
@keyframes frame {
  0% {
    transform: translateY(100vh);
  }
  100% {
    transform: translateX(0vh);
  }
}
@keyframes as {
  0% {
    transform: translateY(100vh);
  }
  100% {
    transform: translateX(0vh);
  }
}
@keyframes typing {
  from{
    width: 0;
  }
}
@keyframes blink-caret {
  0%{
    border-color: #00a2ff;
  }
  50%{
    border-color: transparent;
  }
  100%{
    border-color: #00a2ff;
  }
}
@keyframes animka {
  0% {
    transform: translateX(100vh);
  }
  100% {
    transform: translateX(0vh);
  }
}
